


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="mt-5">
           <h2 class="text-primary d-flex align-items-end">HR Management System</h2>
    <p class="float-start">Application Managing your company</p>
    </div>
 
    <img src="~/Files/Images/At the office-amico.svg" class="float-end" width="%100" height="400" style=" background-size: cover" />
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
